<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crosslight.Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid51" />
  <package id="Crosslight.Xamarin.Android.Support.v7.CardView" version="23.4.0.1" targetFramework="monoandroid51" />
  <package id="GraphX" version="2.3.3.0" targetFramework="monoandroid51" />
  <package id="QuickGraphPCL" version="3.6.61114.2" targetFramework="monoandroid51" />
  <package id="System.Data.SQLite" version="1.0.104.0" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.4.0.1" targetFramework="monoandroid51" />
</packages>